{% extends 'base-guest.html.twig' %}

{% block title %}
    {{ parent() }} - Politique de confidentialité
{% endblock %}

{% block body %}
    <div class="card">
                    <div class="card-body">
                        <h2>POLITIQUE DE CONFIDENTIALIT&Eacute;</h2>
                        <p><strong>Date d'entr&eacute;e en vigueur : DECEMBRE 2021</strong></p>
                        <ol>
                            <li>INTRODUCTION</li>
                        </ol>
                        <p>Bienvenue chez PUSSO,&nbsp;<em>dal l&eacute;n ak j&aacute;m</em>.</p>
                        <p>Notre politique de confidentialit&eacute; r&eacute;git votre visite sur PUSSO et les applications PUSSO, et explique comment nous recueillons, prot&eacute;geons et divulguons les informations r&eacute;sultant de votre utilisation de notre service.</p>
                        <p>Nous utilisons vos donn&eacute;es pour fournir et am&eacute;liorer le service. En utilisant le service, vous acceptez la collecte et l&rsquo;utilisation des informations conform&eacute;ment &agrave; cette politique. Sauf indication contraire dans cette politique de confidentialit&eacute;, les termes utilis&eacute;s dans cette politique de confidentialit&eacute; ont la m&ecirc;me signification que dans nos Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation (CGU).</p>
                        <p>Nos Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation r&eacute;gissent toute utilisation de notre Service et avec la politique de confidentialit&eacute;, constituent votre accord avec nous (&laquo;accord&raquo;).</p>
                        <ol start="2">
                            <li>D&Eacute;FINITIONS</li>
                        </ol>
                        <p>DONN&Eacute;ES PERSONNELLES d&eacute;signe des donn&eacute;es sur une personne vivante qui peuvent &ecirc;tre identifi&eacute;es &agrave; partir de ces donn&eacute;es (ou &agrave; partir de celles-ci et d&rsquo;autres informations en notre possession ou susceptibles d&rsquo;entrer dans notre possession).</p>
                        <p>LES DONN&Eacute;ES D&rsquo;UTILISATION sont des donn&eacute;es collect&eacute;es automatiquement soit g&eacute;n&eacute;r&eacute;es par l&rsquo;utilisation du Service, soit &agrave; partir de l&rsquo;infrastructure de service elle-m&ecirc;me (par exemple, la dur&eacute;e d&rsquo;une visite de page).</p>
                        <p>Les COOKIES sont de petits fichiers stock&eacute;s sur votre appareil (ordinateur ou appareil mobile).</p>
                        <p>RESPONSABLE DU CONTR&Ocirc;LEUR d&eacute;signe une personne physique ou morale qui (seule ou conjointement ou avec d&rsquo;autres personnes) d&eacute;termine les fins pour lESquells et la mani&egrave;re dont les donn&eacute;es &agrave; caract&egrave;re personnel sont ou doivent &ecirc;tre trait&eacute;es. Aux fins de cette politique de confidentialit&eacute;, nous sommes responsables du traitement de vos donn&eacute;es.</p>
                        <p>TRAITEURS DE DONN&Eacute;ES (OU FOURNISSEURS DE SERVICES) d&eacute;signe toute personne physique ou morale qui traite les donn&eacute;es pour le compte du responsable du traitement. Nous pouvons utiliser les services de divers services Fournisseurs afin de traiter vos donn&eacute;es plus efficacement.</p>
                        <p>L&rsquo;OBJET DES DONN&Eacute;ES est toute personne physique qui fait l&rsquo;objet de donn&eacute;es personnelles.</p>
                        <p>L&rsquo;UTILISATEUR est la personne utilisant notre service. L&rsquo;utilisateur correspond &agrave; la personne concern&eacute;e, qui fait l&rsquo;objet de donn&eacute;es Personnelles.</p>
                        <ol start="3">
                            <li>COLLECTE ET UTILISATION DES INFORMATIONS</li>
                        </ol>
                        <p>Nous collectons plusieurs types d&rsquo;informations &agrave; des fins diverses pour fournir et am&eacute;liorer le service que nous vous fournissons.</p>
                        <ol start="4">
                            <li>TYPES DE DONN&Eacute;ES COLLECT&Eacute;ES</li>
                        </ol>
                        <p>Donn&eacute;es personnelles</p>
                        <p>Lors de l&rsquo;utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent &ecirc;tre utilis&eacute;es pour vous contacter ou vous identifier (&laquo;Donn&eacute;es personnelles&raquo;). Ces informations identifiables peuvent inclure, mais sans s&rsquo;y limiter:</p>
                        <ul>
                            <li>Adresse e-mail</li>
                            <li>Pr&eacute;nom et nom</li>
                            <li>Num&eacute;ro de t&eacute;l&eacute;phone</li>
                            <li>Adresse, pays, code postal, ville</li>
                            <li>Cookies et donn&eacute;es d&rsquo;utilisation</li>
                            <li>G&eacute;olocalisation</li>
                        </ul>
                        <p>Nous pouvons utiliser vos donn&eacute;es personnelles pour vous contacter avec des newsletters, du marketing ou des promotions, ou documents et autres informations susceptibles de vous int&eacute;resser. Vous pouvez refuser de recevoir tout, ou la totalit&eacute; de ces communications de notre part en suivant le lien de d&eacute;sabonnement.</p>
                        <p>Donn&eacute;es d&rsquo;utilisation</p>
                        <p>Nous pouvons &eacute;galement collecter des informations que votre navigateur envoie chaque fois que vous visitez notre service ou lorsque vous acc&eacute;dez au Service par ou via n&rsquo;importe quel appareil (&laquo;Donn&eacute;es d&rsquo;utilisation&raquo;).</p>
                        <p>Ces donn&eacute;es d&rsquo;utilisation peuvent inclure des informations telles que l&rsquo;adresse de protocole Internet de votre ordinateur (par ex. Adresse IP), le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l&rsquo;heure et la date de votre visite, le temps pass&eacute; sur ces pages, les identifiants uniques des appareils et autres diagnostics Les donn&eacute;es.</p>
                        <p>Lorsque vous acc&eacute;dez au service avec un appareil, ces donn&eacute;es d&rsquo;utilisation peuvent inclure des informations telles que : le type d&rsquo;appareil que vous utilisez, l&rsquo;identifiant unique de votre appareil, l&rsquo;adresse IP de votre appareil, le syst&egrave;me d&rsquo;exploitation, le type de navigateur Internet que vous utilisez, les identifiants uniques de l&rsquo;appareil et autres donn&eacute;es de diagnostic.</p>
                        <p>Donn&eacute;es de localisation</p>
                        <p>Nous pouvons utiliser et stocker des informations sur votre emplacement si vous nous donnez la permission de le faire (&ldquo;Donn&eacute;es de localisation&rdquo;). Nous utilisons ces donn&eacute;es pour fournir des fonctionnalit&eacute;s de notre service, pour am&eacute;liorer et personnaliser notre service.</p>
                        <p>Vous pouvez activer ou d&eacute;sactiver les services de localisation lorsque vous utilisez notre service &agrave; tout moment via les r&eacute;glages de de l&rsquo;appareil. Suivi des donn&eacute;es des cookies</p>
                        <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l&rsquo;activit&eacute; sur notre service et nous d&eacute;tenons certaines informations.</p>
                        <p>Les cookies sont des fichiers contenant une petite quantit&eacute; de donn&eacute;es pouvant inclure un identifiant unique anonyme.</p>
                        <p>Les cookies sont envoy&eacute;s &agrave; votre navigateur &agrave; partir d&rsquo;un site Web et stock&eacute;s sur votre appareil. D&rsquo;autres outils de suivi des technologies sont &eacute;galement utilis&eacute;s telles que des balises, des balises et des scripts pour collecter et suivre des informations et pour am&eacute;liorer et analyser notre service.</p>
                        <p>Vous pouvez demander &agrave; votre navigateur de refuser tous les cookies ou d&rsquo;indiquer quand un cookie est envoy&eacute;.</p>
                        <p>Cependant, si vous n&rsquo;acceptez pas les cookies, vous ne pourrez peut-&ecirc;tre pas utiliser certaines parties de notre service.</p>
                        <p>Exemples de cookies que nous utilisons :</p>
                        <ul>
                            <li>Cookies de session : nous utilisons des cookies de session pour faire fonctionner notre service.</li>
                            <li>Cookies de pr&eacute;f&eacute;rence : Nous utilisons des cookies de pr&eacute;f&eacute;rence pour m&eacute;moriser vos pr&eacute;f&eacute;rences et divers r&eacute;glages.</li>
                            <li>Cookies de s&eacute;curit&eacute; : nous utilisons des cookies pour des besoins de s&eacute;curit&eacute;.</li>
                            <li>Cookies publicitaires : les cookies publicitaires sont utilis&eacute;s pour vous proposer des publicit&eacute;s qui peuvent &ecirc;tre pertinents pour vous et vos int&eacute;r&ecirc;ts.</li>
                        </ul>
                        <p>Autres informations</p>
                        <p>Lors de l&rsquo;utilisation de notre Service, nous pouvons &eacute;galement collecter les informations suivantes : sexe, &acirc;ge, date de naissance, lieu de naissance, d&eacute;tails du passeport, citoyennet&eacute;, enregistrement au lieu de r&eacute;sidence et adresse r&eacute;elle, num&eacute;ro de t&eacute;l&eacute;phone (travail, mobile) autres donn&eacute;es.</p>
                        <ol start="5">
                            <li>UTILISATION DES DONN&Eacute;ES</li>
                        </ol>
                        <p>PUSSOSA utilise les donn&eacute;es collect&eacute;es &agrave; diverses fins :</p>
                        <ol>
                            <li>pour fournir et maintenir notre service ;</li>
                            <li>Pour vous avertir des changements de notre service ;</li>
                            <li>pour vous permettre de participer aux fonctionnalit&eacute;s interactives de notre Service lorsque vous choisissez de le faire;</li>
                            <li>pour fournir un support client ;</li>
                            <li>pour recueillir des analyses ou des informations pr&eacute;cieuses afin que nous puissions am&eacute;liorer notre service ; 6. pour surveiller l&rsquo;utilisation de notre service ;</li>
                            <li>pour d&eacute;tecter, pr&eacute;venir et r&eacute;soudre les probl&egrave;mes techniques ;</li>
                            <li>pour remplir tout autre objectif pour lequel vous le fournissez ;</li>
                            <li>pour remplir nos obligations et faire valoir nos droits d&eacute;coulant de tout contrat conclu entre vous et nous, y compris pour la facturation et le recouvrement ;</li>
                            <li>pour vous fournir des notifications concernant votre compte et / ou votre abonnement, y compris l&rsquo;expiration et avis de renouvellement, instructions par e-mail, etc.</li>
                            <li>pour vous fournir des nouvelles, des offres sp&eacute;ciales et des informations g&eacute;n&eacute;rales sur d&rsquo;autres produits, services et &eacute;v&eacute;nements que nous proposons similaires &agrave; ceux que vous avez d&eacute;j&agrave; achet&eacute;s ou demand&eacute; &agrave; moins que vous n&rsquo;ayez choisi de ne pas recevoir de telles informations ;</li>
                            <li>de toute autre mani&egrave;re que nous pouvons d&eacute;crire lorsque vous fournissez les informations ;</li>
                            <li>&agrave; toute autre fin pour aider &agrave; am&eacute;liorer nos services</li>
                        </ol>
                        <p>&nbsp;</p>
                        <ol start="6">
                            <li>CONSERVATION DES DONN&Eacute;ES</li>
                        </ol>
                        <p>Nous ne conserverons vos donn&eacute;es personnelles que le temps n&eacute;cessaire aux fins &eacute;nonc&eacute;es dans la pr&eacute;sente politique.</p>
                        <p>Politique de confidentialit&eacute;. Nous conserverons et utiliserons vos donn&eacute;es personnelles dans la mesure n&eacute;cessaire pour nous conformer nos obligations l&eacute;gales (par exemple, si nous sommes tenus de conserver vos donn&eacute;es pour nous conformer aux lois applicables), r&eacute;soudre les diff&eacute;rends et appliquer nos accords juridiques et politiques.</p>
                        <ol start="7">
                            <li>TRANSFERT DE DONN&Eacute;ES</li>
                        </ol>
                        <p>Vos informations, y compris les donn&eacute;es personnelles, peuvent &ecirc;tre transf&eacute;r&eacute;es vers &ndash; et conserv&eacute;es sur -ordinateurs situ&eacute;s en dehors de votre &eacute;tat, province, pays ou autre juridiction gouvernementale o&ugrave; les lois sur la protection des donn&eacute;es peuvent diff&eacute;rer de celles de votre juridiction.</p>
                        <p>Votre consentement &agrave; cette politique de confidentialit&eacute; suivi de la soumission de ces informations repr&eacute;sente votre accord &agrave; ce transfert.</p>
                        <p>PUSSOSA prendra toutes les mesures raisonnablement n&eacute;cessaires pour s&rsquo;assurer que vos donn&eacute;es sont trait&eacute;es en toute s&eacute;curit&eacute; et conform&eacute;ment &agrave; cette politique de confidentialit&eacute; et aucun transfert de vos donn&eacute;es personnelles n&rsquo;aura lieu &agrave; une organisation ou &agrave; un pays &agrave; moins qu&rsquo;il n&rsquo;y ait des contr&ocirc;les ad&eacute;quats en place, y compris la s&eacute;curit&eacute; de vos donn&eacute;es et autres informations personnelles.</p>
                        <ol start="8">
                            <li>DIVULGATION DES DONN&Eacute;ES</li>
                        </ol>
                        <p>Nous pouvons divulguer les informations personnelles que nous collectons ou que vous fournissez:</p>
                        <ol>
                            <li><strong> Divulgation pour l&rsquo;application de la loi.</strong></li>
                        </ol>
                        <p>Dans certaines circonstances, nous pouvons &ecirc;tre tenus de divulguer vos donn&eacute;es personnelles si n&eacute;cessaire par la loi ou en r&eacute;ponse &agrave; des demandes valables des autorit&eacute;s publiques.</p>
                        <ol start="2">
                            <li><strong> Transaction d&rsquo;affaires.</strong></li>
                        </ol>
                        <p>Si nous ou nos filiales sommes impliqu&eacute;s dans une fusion, une acquisition ou une vente d&rsquo;actifs, vos donn&eacute;es personnelles peut &ecirc;tre transf&eacute;r&eacute;es.</p>
                        <ul>
                            <li>Autres cas. Nous pouvons &eacute;galement divulguer vos informations :</li>
                        </ul>
                        <ul>
                            <li>&agrave; nos filiales, soci&eacute;t&eacute;s affili&eacute;es, tiers avec lesquels nous faisons affaire ;</li>
                            <li>aux entrepreneurs, prestataires de services et autres tiers avec lesquels nous faisons affaire ;</li>
                            <li>pour remplir l&rsquo;objectif pour lequel vous le fournissez ;</li>
                            <li>dans le but d&rsquo;inclure le logo de votre entreprise sur notre site Web ;</li>
                            <li>&agrave; toute autre fin que nous divulguons lorsque vous fournissez les informations;</li>
                            <li>avec votre consentement dans tous les autres cas ;</li>
                            <li>si nous pensons que la divulgation est n&eacute;cessaire ou appropri&eacute;e pour prot&eacute;ger les droits, la propri&eacute;t&eacute; ou la s&eacute;curit&eacute; de la Soci&eacute;t&eacute;, de nos clients ou d&rsquo;autres.</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ol start="9">
                            <li>S&Eacute;CURIT&Eacute; DES DONN&Eacute;ES</li>
                        </ol>
                        <p>La s&eacute;curit&eacute; de vos donn&eacute;es est importante pour nous mais rappelez-vous qu&rsquo;aucune m&eacute;thode de transmission Internet ou la m&eacute;thode de stockage &eacute;lectronique est 100% s&eacute;curis&eacute;. Alors que nous nous effor&ccedil;ons d&rsquo;utiliser commercialement moyens acceptables pour prot&eacute;ger vos donn&eacute;es personnelles, nous ne pouvons garantir leur s&eacute;curit&eacute; absolue.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
{% endblock %}