<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>[PUSSO] Demande rejetée</title>
</head>
<body>
<p>
    Bonjour, <br><br>
    Après avoir étudié votre demande, nous sommes au regret de ne pas pouvoir y accorder une suite favorable pour le motif suivant : <br><br>
    <ul>
        <li><b style="color: red">{{ motif }}</b></li>
    </ul>

    <br><br>

    Cordialement,<br>
    PUSSO
</p>
</body>
</html>