<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} | Inscription</title>
</head>
<body>
<p>
    Bonjour {{ user.prenom }}, <br><br>
    Toute l'équipe {{ app_name }} vous remercie pour votre confiance et vous souhaite la bienvenue.<br><br>
    Cordialement,<br>
    {{ app_name }}.
</p>
</body>
</html>