{% extends 'base-error.html.twig' %}

{% block titre %}
    {{ parent() }} - ERREUR 403
{% endblock %}

{% block body %}
    <h1 class="text-primary">4<i class="far fa-smile text-danger ml-1 mr-1"></i>3!</h1>
    <h4 class="">Accès interdit !</h4><br>
{% endblock %}